#docker-compose.yml
services:
  elasticsearch:
    image: elasticsearch:9.2.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"

  kibana:
    image: kibana:9.2.0
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
      
  logstash:
    image: logstash:9.2.0
    ports: ["5044:5044"]
    volumes:
      - ./pipeline:/usr/share/logstash/pipeline
    depends_on: [elasticsearch]
